<!doctype html>
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}/
    %title HealthKick
    %meta{:content => "HealthKick", :name => "description"}
      %meta{:content => "Vaughan Rouesnel", :name => "author"}
        /[if lt IE 9]
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        /
          Mobile Specific Metas
          \==================================================
        %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
        /
          CSS
          \==================================================
        %link{:href => "stylesheets/base.css", :rel => "stylesheet"}
          %link{:href => "stylesheets/skeleton.css", :rel => "stylesheet"}
            %link{:href => "stylesheets/layout.css", :rel => "stylesheet"}
              /
                Favicons
                \==================================================
              %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
                %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
                  %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
                  %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    /
      Primary Page Layout
      \==================================================
    / Delete everything in this .container and get started on your own site!
    .container
      .sixteen.columns
        %h1.remove-bottom{:style => "margin-top: 40px"} HealthKick
        %h5 Version 0.1
        %hr/
      .three.columns.sidebar
        %h3 Menu
        %ul
          %li One
          %li Two
        %h3 About HealthKick?
        %p
          The goal of this project is to help people with diabetes stay healthy.
          HealthKick provides easy ways to track blood pressure, blood glucose levels, weight,
          body fat and daily activity as well as convenient notifications so you don't forget.
      .twelve.columns.content.offset-by-one
        %h3 Feed
        #healthkickapp
          %input{:type => "button", :id => "butt", :value => "hello"}
          #feed
            This is where the feed goes

    / container
    /
      JS
      \==================================================
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"}
    :javascript
      window.jQuery || document.write("\x3C/script>")
    %script{:src => "javascripts/json2.js"}
    %script{:src => "javascripts/underscore.js"}
    %script{:src => "javascripts/backbone.js"}
    %script{:src => "javascripts/backbone.localStorage.js"}
    %script{:src => "javascripts/app.js"}
    %script{:type => "text/template", :id => "item-template"}
      .item
        .title <%= title %>
        .description <%= description %>
